<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
	  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Sidl Visualization: Graph</title>

			<!-- vis.js -->
			<script src="${res}/js/vis-data.min.js" type="text/javascript"></script>
			<script src="${res}/js/vis-network.min.js" type="text/javascript"></script>
			<link rel="stylesheet" type="text/css" media="all" href="${res}/css/vis-network.min.css" />

			<!-- socket.io -->
			<script src="${res}/js/socket.io.js" type="text/javascript"></script>		

			<link rel="stylesheet" type="text/css" media="all" href="${res}/css/main.graph.css" />
		</head>
		<body>
			<div id="doctext"></div>
			<div id="graphobj"></div>
			<div id="graph"></div>			

			<script type="text/javascript">
				var websocketaddress = "${websocketaddress}";
				var roomname = "${roomname}";
			</script>

			<script src="${res}/js/main.graph.js" type="text/javascript"></script>		
		</body>
	</html>